<div class="col">
  <div class="card m-3 border-<%= CsvUpload.state_colors(csv_file.state)%> " style="width: 18rem; height: 300px;">
    <div class="card-header bg-transparent border-<%= CsvUpload.state_colors(csv_file.state) %>">Filename: <%= csv_file.csv_file.filename %></div>
    <div class="card-body text-<%= CsvUpload.state_colors(csv_file.state) %> ">
      <h5 class="card-title">State: <%= csv_file.state %></h5>
      <p class="card-text">Download: <%= link_to csv_file.csv_file.filename, rails_blob_path(csv_file.csv_file, disposition: 'attachment') %></p>
      <p class="card-text"> <%= link_to "Process "+csv_file.csv_file.filename.to_s, new_csv_mapper_path(id: csv_file.id), class: "btn btn-primary" if csv_file.state == "waiting" %></p>
      <p class="card-text"> <%= link_to "Delete", csv_upload_path(id: csv_file.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?"  } %></p>
    </div>
    <div class="card-footer bg-transparent border-<%= CsvUpload.state_colors(csv_file.state) %>">Uploaded: <%= time_ago_in_words(csv_file.created_at) %> ago </div>
  </div>
</div>
