<h1 class="display-5 text-center"> Your files</h1>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
<%= turbo_stream_from 'csv_uploads' %>
<%= turbo_frame_tag 'csv_uploads', class: "row row-cols-1 row-cols-md-2 g-4" do  %>
  <%= render @csv_uploads %>
<% end %>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
