<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container">
    <%= link_to root_path, class: "nav_logo" do %>
      <%= image_tag("Logo.png", width: 60) %>
      <h1 class="navbar-brand display-4 font-weight-bold text-dark">Contact Importer</h1>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="align-middle collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto navbar-right">
        <% if user_signed_in? %>
          <li>
            <p class="navbar-brand">
              Hi, <%= link_to("@"+current_user.email, edit_user_registration_path)%>
            </p>
          </li>
          <li>
            <p>
            <%= link_to('My imported contacts', edit_user_registration_path, class: "navbar-brand btn btn-outline-primary") %>
            </p>
          </li>
          <li>
            <p>
            <%= link_to('My imported files', edit_user_registration_path, class: "navbar-brand btn btn-outline-success") %>
            </p>
          </li>
          <li>
            <p>
            <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "navbar-brand btn btn-outline-danger") %>
            </p>
          </li>
        <% else %>
          <li>
            <p>
            <%= link_to('Sign in', new_user_session_path, class: "navbar-brand btn btn-outline-primary") %></p></li>
          <li>
            <p>
            <%= link_to('Sign up', new_user_registration_path, class: "navbar-brand btn btn-outline-success") %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
