<tr>
  <th scope="row"><%= index %></th>
  <td class="text-center"><%= contact.name %></td>
  <td class="text-center"><%= error_fields.nil? ? date_parser(contact.birthday) : contact.birthday %></td>
  <td class="text-center"><%= contact.phone_number %></td>
  <td class="text-center"><%= contact.address %></td>
  <td class="text-center"><%= error_fields.nil? ? show_credit_card(contact.card_number) : "Not saved" %></td>
  <td class="text-center"><%= contact.card_issuer if error_fields.nil? %></td>
  <td class="text-center"><%= contact.email %></td>
  <td><% error_listing(contact.reason) if error_fields.present? %></td>
</tr>
