<h1 class="display-5 text-center"> Your contacts</h1>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
<%= render 'contacts/contact_table', {contacts: @contacts, error_fields: nil}%>
<%= pagy_bootstrap_nav(@pagy).html_safe %>

<h1 class="display-5 text-center"> Error importing</h1>

<%= pagy_bootstrap_nav(@pagy_errors).html_safe %>
<%= render 'contacts/contact_table', {contacts: @contact_errors, error_fields: 1}%>
<%= pagy_bootstrap_nav(@pagy_errors).html_safe %>
